{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

<form method = 'POST'>
    <h3 align="center">Sign Up</h3>
    <div class = "signup-div">
    <div class="form-group col-sm-5">
      <label for="email"> Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">This email might be used for research purposes.</small>
    </div>
    <div class="form-group col-sm-5">
        <label for="first_name"> First name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name">
      </div>

    <div class="form-group col-sm-5">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" name = "password1" placeholder="Enter Password">
    </div>

    <div class="form-group col-sm-5">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name = "password2" placeholder="Confirm Password">
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>


{% endblock content %}
